.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
}

/* LOGO */
.logo img {
  width: 120px;
}

/* 🔥 SEARCH BAR */
.searchBar {
  display: flex;
  width: 40%;
}

.searchBar input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}

.searchBar button {
  background: orange;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* LINKS */
.links {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
}